{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}

{% block head %}
<h1>About Us</h1>
{% endblock head %}


{% block body %}
<section class="about1">
    <div class="container">
      <div class="row gx-0">
        <div class="container">
            <div class="content">
                <h3><br><br>FitnessHub is your new home in boutique wellness. We join the dependable standards of Pilates with forefront development to give you the most out of each exercise.<br>
    
                    Our specialists are very prepared and fit the bill to furnish you with shape-centered alterations that will push you as far as possible without bargaining your security.<br><br>
                    
                    Expect high-vitality quick-paced exercises that leave each muscle shaking. FitnessHub was established in 2012 by Jeanette and Ryan and now we have 2 NYC areas… with a third in transit!<br>
                    
                    The FitnessHub Former was structured solely for FitnessHub to consolidate two of the best bits of Pilates hardware, the reformer, and the Pilates seat.<br><br>
                    
                    Co-structured with the Villency Design Group, the FitnessHub Former displays an extraordinary crossbreed of seat and reformer Pilates techniques, mixing quality preparing and cardio for a full-body exercise.<br>
                    
                    You can anticipate brisk, consistent changes, a quiet carriage, and additional choices for shifting dimensions of protection from making the moves all the more difficult, at last focusing on the muscles all the more profoundly for a more prominent consume.<br><br>
                    
                    Our FitnessHub IR class is warmed by cutting-edge full-range infrared boards. Full range infrared warmth is the most vitality productive approach to warm a space and you get a noteworthy increase in advantages just from going into the room.<br>
                    
                    You'll get a vibe decent surge of serotonin and dopamine simply like from the sun's characteristic beams in addition to IR has been appeared to help with cell fix, flow, detoxification, and stress decrease. IR warm is the following stage in exercise advancement.</h3>
              </div>
        </div>        

      </div>
    </div>
    

  </section><!-- End About Section -->
    
{% endblock body %}